@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 243px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 100px solid rgb(255 255 255 / 13%);
  border-radius: 0.25rem;
}

.suit,
.rotated {
  font-size: 5rem;
  line-height: 0.8em;
}

.value {
  font-size: 7rem;
}

.suit {
  color: red;
  position: absolute;
  top: -90px;
  left: -70px;
}

.suit.black {
  color: black;
  position: absolute;
  top: -90px;
  left: -70px;
}

.rotated {
  transform: rotate(180deg);
  color: red;
  position: absolute;
  bottom: -86px;
  right: -70px;
}

.rotated.black {
  transform: rotate(180deg);
  color: black;
  position: absolute;
  bottom: -86px;
  right: -70px;
}
